/* the glob wasn't putting borders on everything, had to specify, ideas? */
* , header, footer, a, div, h1 {
    box-sizing: border-box;
    border: 2px solid cornflowerblue;
    margin: 5px;
    padding: 3px;
} 
 
html, body {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    width: 50%;
    justify-content: flex-start;
}
.headerLinks{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
main{

}
.mainText{
    width: 75%;
    flex-grow: 3;
    overflow: hidden;
}
.sideBar{
    width: 25%;
    flex-grow: 1;
    overflow: hidden;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.copyright{

}
.footerLinkBox{

}
.footerLink{

}